*{
   font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande'; 
}
body {
    
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}

.container {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 300px;
}

input[type="text"] {
    width: calc(100% - 22px);
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    background-color: #007bff;
    border: none;
    color: white;
    border-radius: 4px;
    cursor: pointer;
    margin: 10px;
}

button:hover {
    background-color: #0056b3;
}

.todo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    background-color: #fafafa;
}

.todo p {
    margin: 0;
    flex: 1;
}

.todo button {
    margin-left: 5px;
    background-color: #dc3545;
}

.todo button:hover {
    background-color: #c82333;
}

.todo button.update-btn {
    background-color: #e8b10d;
}

.todo button.update-btn:hover {
    background-color: #e0a800;
}
